span.dlg_span_student_name {
    margin-left: 2px;
}

input[type=checkbox].dlg_check_student {
    margin-top: 4px;
}
.modal-header {
    background-color: #f0c24b ;
}

.modal-header strong.select-option-header {
    color: #fff;
}

.breadcrumb-item {
    margin-right: 2px;
}