<!-- MAIN SECTION -->
<section class="mainContent full-width clearfix ">
  <div class="container event-section ">
    <div class="row ">
      <div class="col-sm-6 col-xs-12 block">
        <div class="media eventContent bg-color-1">
          <a class="media-left event-img" href="single-event-left-sidebar.html">
            <img class="media-object event-img-1" src="assets/img/home/event/event-1.jpg" alt="Image">
            <span class="sticker-round">10
              <br>July</span>
          </a>
          <div class="media-body">
            <h3 class="media-heading">
              <a href="single-event-left-sidebar.html">Science & Technology Day.</a>
            </h3>
            <ul class="list-unstyled">
              <li>
                <i class="fa fa-calendar-o" aria-hidden="true"></i>Age 2 to 4 Years</li>
              <li>
                <i class="fa fa-clock-o" aria-hidden="true"></i>9.00AM-11.00AM</li>
            </ul>
            <p>The Science & Technology day is organized at Mullavilly Primary School on July 10th. The event focuses on various presentations on students’ Science and Technology projects. Book your tickets now.</p>

            <div class="list-inline btn-green">
              <div class="row">
                <div class="col-sm-6 read-more-btn">
                  <a href="single-event-left-sidebar.html" class="btn btn-primary">read more</a>
                </div>
                <div class="col-sm-6">
                  <button type="button" class="btn btn-primary event-book" data-toggle="modal" data-target="#myModal">Book Now</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12 block">
        <div class="media eventContent bg-color-2">
          <a class="media-left event-img" href="single-event-left-sidebar.html">
            <img class="media-object event-img-1" src="assets/img/home/event/event-2.jpg" alt="Image">
            <span class="sticker-round">15
              <br>July</span>
          </a>
          <div class="media-body">
            <h3 class="media-heading">
              <a href="single-event-left-sidebar.html">Olympic Sports day.</a>
            </h3>
            <ul class="list-unstyled">
              <li>
                <i class="fa fa-calendar-o" aria-hidden="true"></i>Age 2 to 4 Years</li>
              <li>
                <i class="fa fa-clock-o" aria-hidden="true"></i>9.00AM-11.00AM</li>
            </ul>
            <p>Olympic Sports Day will be hosted by Cawston Grange Primary School on July 15th. You shall witness various sports activities taking place for students from age 9 to 20.</p>
            <br>
            <div class="list-inline btn-green">
              <div class="row">
                <div class="col-sm-6 read-more-btn">
                  <a href="" class="btn btn-primary">read more</a>
                </div>
                <div class="col-sm-6">
                  <button type="button" class="btn btn-primary event-book" data-toggle="modal" data-target="#myModal" >Book Now</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-xs-12 block">
          <div class="media eventContent bg-color-3">
            <a class="media-left event-img" href="single-event-left-sidebar.html">
              <img class="media-object event-img-1" src="assets/img/home/event/event-3.jpg" alt="Image">
              <span class="sticker-round">22 <br>July</span>
            </a>
            <div class="media-body">
              <h3 class="media-heading"><a href="single-event-left-sidebar.html">Disney Day.</a></h3>
              <ul class="list-unstyled">
                <li><i class="fa fa-calendar-o" aria-hidden="true"></i>Age 2 to 4 Years</li>
                <li><i class="fa fa-clock-o" aria-hidden="true"></i>9.00AM-11.00AM</li>
              </ul>
              <p>Disney Day is an all day Arts event organized by Schoolhouse Education on July 22nd. Students from all the grades will be participating in arts activities like Drama, Musicals, Painting.</p>
              <div class="list-inline btn-green">
                <div class="row">
                  <div class="col-sm-6 read-more-btn">
                    <a href="" class="btn btn-primary">read more</a>
                  </div>
                  <div class="col-sm-6">
                    <button type="button" class="btn btn-primary event-book" data-toggle="modal" data-target="#myModal" >Book Now</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12 block">
          <div class="media eventContent bg-color-4">
            <a class="media-left event-img" href="single-event-left-sidebar.html">
              <img class="media-object event-img-1" src="assets/img/home/event/event-4.jpg" alt="Image">
              <span class="sticker-round">25 <br>July</span>
            </a>
            <div class="media-body">
              <h3 class="media-heading"><a href="single-event-left-sidebar.html">Talent Quest.</a></h3>
              <ul class="list-unstyled">
                <li><i class="fa fa-calendar-o" aria-hidden="true"></i>Age 2 to 4 Years</li>
                <li><i class="fa fa-clock-o" aria-hidden="true"></i>9.00AM-11.00AM</li>
              </ul>
              <p>Talent Quest Day will be hosted by Cawston Grange Primary School on July 25th.Students from all the grades will be participating in Talent activities. </p>
              <br>
              <div class="list-inline btn-green">
                <div class="row">
                  <div class="col-sm-6 read-more-btn">
                    <a href="" class="btn btn-primary">read more</a>
                  </div>
                  <div class="col-sm-6">
                    <button type="button" class="btn btn-primary event-book" data-toggle="modal" data-target="#myModal" >Book Now</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="pagerArea text-center">
      <ul class="pager">
        <li class="prev">
          <a href="#">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>Prev</a>
        </li>
        <li>
          <a href="#">1</a>
        </li>
        <li>
          <a href="#">2</a>
        </li>
        <li>
          <a href="#">3</a>
        </li>
        <li>
          <a href="#">...</a>
        </li>
        <li>
          <a href="#">15</a>
        </li>
        <li class="next">
          <a href="#">Next
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>

  </div>
</section>


<!-- Modal -->
<div class="modal fade align-model" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <span class="cart-text">
          <strong class="select-student-all">Select your children.</strong>
          <span class="price-color-1">($50)</span>
        </span>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-2">
            <input type="checkbox" value="" id="studentSelect" onclick="displayprice()">
            <span>Jack</span>
          </div>
          <div class="col-sm-2">
            <input type="checkbox" value="" id="studentSelect">
            <span>David</span>
          </div>
          <div class="col-sm-2">
            <input type="checkbox" value="" id="studentSelect">
            <span>John</span>
          </div>
          <div class="col-sm-2">
            <input type="checkbox" value="" id="studentSelect">
            <span>Smith</span>
          </div>
          <div class="col-sm-3">
            <input type="checkbox" value="" id="studentSelect">
            <span>Christel</span>
          </div>
        </div>
        <hr class="dash" style="margin-top: 5px;margin-bottom: 5px;">
        <div class="row">
          <div class="col-sm-8">
            <span class="price-text wrapper-1" id="totalPrice" style="display:none;">
              <b> Price : $50</b>
            </span>
          </div>
          <div class="col-sm-4">
            <span class=" wrapper">
              <button type="button" class="btn btn-primary addToCart" id="addToCart" onclick="addTocart()" >
                <i class="fa fa-shopping-basket " aria-hidden="true"></i>Add to Cart</button>
            </span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>